/* .expense-list {
    max-width: 600px;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

button {
    cursor: pointer;
} */